[submodule "engine/json"]
	path = engine/json
	url = https://github.com/nlohmann/json.git
[submodule "engine/type_safe"]
	path = engine/type_safe
	url = https://github.com/foonathan/type_safe
[submodule "engine/magic_enum"]
	path = engine/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "engine/spdlog"]
	path = engine/spdlog
	url = https://github.com/gabime/spdlog
